@media screen and (max-width:650px) {

    .header {
        height: auto;
        margin-bottom: 6rem;
    }

    .header {
        height: 10vh;

    }

    .contactustext,
    .areatext,
    .aboutus1,
    .FAQ,
    .ser1,
    .testp {
        width: 90%;
    }


}